import(ggplot2)
import(methods)

importClassesFrom(kernlab, ksvm)
importClassesFrom(party, RandomForest)

importFrom(caret, createMultiFolds, createResample)
importFrom(foreach, "%dopar%", foreach, registerDoSEQ)
importFrom(Hmisc, rcorr.cens)
importFrom(irr, kappa2)
importFrom(magrittr, "%>%")
importFrom(MLmetrics, PRAUC)
importFrom(ModelMetrics, auc, brier, ce, kappa, mae, rmse, sensitivity,
           specificity)
importFrom(recipes, bake, juice, prep)
importFrom(rsample, assessment, bootstraps, prepper, vfold_cv)
importFrom(stats, approx, coef, cor, formula, median, model.frame, model.matrix,
           model.response, model.weights, pchisq, predict, sd, terms, update,
           vcov)
importFrom(survival, is.Surv, Surv, survfit)
importFrom(survivalROC, survivalROC)
importFrom(utils, head, stack, tail)


export(varimp)

export(BootControl,
       CVControl,
       OOBControl)

exportClasses(MLControl)

export(MLModel,
       C50Model,
       CForestModel,
       CoxModel,
       CoxStepAICModel,
       GBMModel,
       GLMModel,
       GLMStepAICModel,
       GLMNetModel,
       NNetModel,
       PLSModel,
       POLRModel,
       RandomForestModel,
       SurvRegModel,
       SurvRegStepAICModel,
       SVMModel)

exportClasses(MLModelFit)

exportMethods(fit,
              resample)

S3method(plot, VarImp)
S3method(predict, MLModelFit)
S3method(summary, Resamples)
